@import './values';
@import './_mixin-extend-variable.scss';

* {
    @extend %margin-zero;
    @include padding1($padding1um);
    box-sizing: $border-b;
    font-family: $fonte;
}
section {
    @extend .classe1;
    @include width1($width2);
    min-height: $min-height;
    @include padding1($padding1dois);
    @include align(1);
    @include back-ground("black");
    overflow: $hidden;
}
.circle {
    @extend .posicao2;
    @include top-left($top-left, $top-left1);
    @include width1($width2);
    @include height1($height1);
    @include back-ground(others);
    clip-path: circle(50% at bottom right);
}
header {
    @extend .classe2;
    @include top-left($top-left2, $top-left2);
    @include width1($width2);
    @include padding2($padding2um, $padding2dois);
    @include align(1);
    .logo {
        @extend .posicao1;
        @include max-width1(120);
        &::-moz-selection {
            @include back-ground('others');
        }
        &::selection {
            @include back-ground("others");
        }
    }
    .navegation {
        ul {
            @extend .posicao1;
            @extend .display1;
        }
        li {
            @extend %list-style1;
        }
        a {
            @extend .display2;
            @include cores("branco");
            @include font--weight(500);
            @extend %decoration-text1;
            @include size-font($font);
            @include margin1($margin1um);
            &::-moz-selection {
                @include back-ground(1);
            }
            &::selection {
                @include back-ground(2);
            }
            &::before {
                content: "";
                @extend .posicao2;
                @include width1($width3);
                @include height1($height2);
                @include bottom1($bottom);
                @include left1(0);
                @include back-ground(3);
            }
            &:hover::before {
                @include width1($width4);
                top: $top2;
                @include transition1(ease);
            }
        }
    }
}
.content {
    @extend .classe1;
    @include width1($width2);
    @include align(1);
    .text {
        @extend .posicao1;
        @include max-width1(121);
        margin-right: $margin-r;
        @include margin1($margin1dois);
        h2 {
            @include cores(branco);
            @include size-font($font1);
            @include margin_top($margin-t);
            @include margin_bottom($margin-b);
            line-height: $line-height;
            @include font--weight(700);
            &::-moz-selection {
                @include back-ground(4);
            }
            &::selection {
                @include back-ground(5);
            }
            br::-moz-selection {
                @include back-ground(6);
            }
            br::selection {
                @include back-ground(7);
            }
        }
        span {
            @include size-font($font2);
            @include cores("vermelho");
            &::-moz-selection {
                @include back-ground(8);
                @include cores("preto");
            }
            &::selection {
                @include back-ground(9);
                @include cores("preto");
            }
        }
        p {
            @include cores("branco");
            @include size-font($font3);
            &::-moz-selection {
                @include back-ground(10);
            }
            &::selection {
                @include back-ground(11);
            }
        }
        a {
            @extend .display2;
            @include margin_top($margin-t1);
            @include margin_bottom($margin-b1); 
            @include size-font($font3);
            @include padding2($padding2tres, $padding2quatro);
            @include back-ground(12);
            @include cores(branco);
            @include font--weight(500);
            letter-spacing: $letter-s;
            @extend %decoration-text1;
            @include border-radius1(49);
            @include transition1(ease-in-out);
            &::-moz-selection {
                @include back-ground("black");
            }
            &::selection {
                @include back-ground("black");
            }
            &:hover {
                @include translateY-scale('translate');
            }
        }
    }
}
.icons {
    @extend .classe2;
    @include bottom1($bottom1);
    @include left1(2);
    @include align(0);
    @include margin1($margin1tres);
    li {
        @extend %list-style1;
    }
    a {
        @include margin1($margin1quatro);
        @include back-ground("black");
        @include width1($width5);
        @include height1($height3);
        @extend .display1;
        @include align(0);
        @include border-radius1(50);
        @include transition1(ease-in-out);
        &:hover {
            @include back-ground(12);
            @include translateY-scale('translate');
        }
    }
    img {
        filter: invert($filter-i);
        @include translateY-scale("scale");
    }
}

.boxImg {
    @extend .posicao2;
    right: $right;
    @include bottom1($bottom2);
    img {
        @include width1($width6);
        &::-moz-selection {
            @include back-ground("black");
        }
        &::selection {
            @include back-ground("black");
        }
    }
    .img1 {
        @include transform-rotate1(-15deg);
    }
    .img2 {
        @include transform-rotate1(5deg);
    }
    .img3 {
        @include transform-rotate1(15deg);
    }
    .img4 {
        @extend .img1;
    }
}