@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
$fonte: 'Poppins', sans-serif;
// --------------------------------------------------------------------------------------------------------------- //
$padding1um: 0;
$padding1dois: 100px;
$padding2um: 40px;
$padding2dois: 100px;
$padding2tres: 10px;
$padding2quatro: 20px;
// --------------------------------------------------------------------------------------------------------------- //
$border-b: border-box;
// --------------------------------------------------------------------------------------------------------------- //
$width2: 100%;
$width3: 0%;
$width4: 70px;
$width5: 40px;
$width6: 130px;
// --------------------------------------------------------------------------------------------------------------- //
$align-i: center;
$justify-c: space-between;
$justify-c1: center;
// --------------------------------------------------------------------------------------------------------------- //
$min-height: 100vh;
// --------------------------------------------------------------------------------------------------------------- //
$cor1: #121212;
$cor2: hwb(356 12% 10%);
$cor3: #fff;
// --------------------------------------------------------------------------------------------------------------- //
$hidden: hidden;
// --------------------------------------------------------------------------------------------------------------- //
$top-left: 40px;
$top-left1: 10px;
$top-left2: 0;
// --------------------------------------------------------------------------------------------------------------- //
$height1: 100%;
$height2: 5px;
$height3: 40px;
// --------------------------------------------------------------------------------------------------------------- //
$font: 15px;
$font1: 1.5em;
$font2: 3.5em;
$font3: 13px;
// --------------------------------------------------------------------------------------------------------------- //
$margin1um: 100px;
$margin1dois: 20px;
$margin1tres: -30px;
$margin1quatro: 45px;
// --------------------------------------------------------------------------------------------------------------- //
$bottom: 0;
$bottom1: 40px;
$bottom2: -40px;
// --------------------------------------------------------------------------------------------------------------- //
$top2: 5vh;
// --------------------------------------------------------------------------------------------------------------- //
$margin-r: 20px;
$margin-t: 80px;
$margin-t1: 50px;
// --------------------------------------------------------------------------------------------------------------- //
$margin-b: 10px;
$margin-b1: 70px;
// --------------------------------------------------------------------------------------------------------------- //
$line-height: 2.5em;
// --------------------------------------------------------------------------------------------------------------- //
$letter-s: 1px;

$filter-i: 1;

$right: 0;
// --------------------------------------------------------------------------------------------------------------- //