@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
}

.posicao1, .content .text, header .navegation ul, header .logo, .classe1, .content, section {
  position: relative;
}

.posicao2, .boxImg, header .navegation a::before, .circle, .classe2, .icons, header {
  position: absolute;
}

.display1, .icons a, header .navegation ul, .classe3, .classe2, .icons, header, .classe1, .content, section {
  display: flex;
}

.display2, .content .text a, header .navegation a, .classe3 {
  display: inline-block;
}

.icons li, header .navegation li {
  list-style: none;
}

.content .text a, header .navegation a {
  text-decoration: none;
}

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  align-items: center;
  justify-content: space-between;
  font-display: "black";
  background-color: #121212;
  overflow: hidden;
}

.circle {
  top: 40px;
  left: 10px;
  width: 100%;
  height: 100%;
  font-display: others;
  background-color: hwb(356 12% 10%);
  -webkit-clip-path: circle(50% at bottom right);
          clip-path: circle(50% at bottom right);
}

header {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 100px;
  padding-left: 100px;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  max-width: 120px;
}
header .logo::-moz-selection {
  font-display: "others";
  background-color: hwb(356 12% 10%);
}
header .logo::selection {
  font-display: "others";
  background-color: hwb(356 12% 10%);
}
header .navegation a {
  color: "branco";
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  margin-left: 100px;
}
header .navegation a::-moz-selection {
  font-display: 1;
  background-color: hwb(356 12% 10%);
}
header .navegation a::selection {
  font-display: 2;
  background-color: hwb(356 12% 10%);
}
header .navegation a::before {
  content: "";
  width: 0%;
  height: 5px;
  bottom: 0;
  left: 0.1;
  font-display: 3;
  background-color: hwb(356 12% 10%);
}
header .navegation a:hover::before {
  width: 70px;
  top: 5vh;
  transition: 0.3s ease;
}

.content {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.content .text {
  max-width: 600px;
  margin-right: 20px;
  margin-left: 20px;
}
.content .text h2 {
  color: branco;
  color: #fff;
  font-size: 1.5em;
  margin-top: 80px;
  margin-bottom: 10px;
  line-height: 2.5em;
  font-weight: 700;
}
.content .text h2::-moz-selection {
  font-display: 4;
  background-color: hwb(356 12% 10%);
}
.content .text h2::selection {
  font-display: 5;
  background-color: hwb(356 12% 10%);
}
.content .text h2 br::-moz-selection {
  font-display: 6;
  background-color: hwb(356 12% 10%);
}
.content .text h2 br::selection {
  font-display: 7;
  background-color: hwb(356 12% 10%);
}
.content .text span {
  font-size: 3.5em;
  color: "vermelho";
  color: hwb(356 12% 10%);
}
.content .text span::-moz-selection {
  font-display: 8;
  background-color: hwb(356 12% 10%);
  color: "preto";
  color: #121212;
}
.content .text span::selection {
  font-display: 9;
  background-color: hwb(356 12% 10%);
  color: "preto";
  color: #121212;
}
.content .text p {
  color: "branco";
  color: #fff;
  font-size: 13px;
}
.content .text p::-moz-selection {
  font-display: 10;
  background-color: hwb(356 12% 10%);
}
.content .text p::selection {
  font-display: 11;
  background-color: hwb(356 12% 10%);
}
.content .text a {
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-display: 12;
  background-color: hwb(356 12% 10%);
  color: branco;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 40px;
  transition: 0.3s ease-in-out;
}
.content .text a::-moz-selection {
  font-display: "black";
  background-color: #121212;
}
.content .text a::selection {
  font-display: "black";
  background-color: #121212;
}
.content .text a:hover {
  transform: translateY(-10px);
}

.icons {
  bottom: 40px;
  left: 100px;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
}
.icons a {
  margin-left: 45px;
  font-display: "black";
  background-color: #121212;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.icons a:hover {
  font-display: 12;
  background-color: hwb(356 12% 10%);
  transform: translateY(-10px);
}
.icons img {
  filter: invert(1);
  transform: scale(0.5);
}

.boxImg {
  right: 0;
  bottom: -40px;
}
.boxImg img {
  width: 130px;
}
.boxImg img::-moz-selection {
  font-display: "black";
  background-color: #121212;
}
.boxImg img::selection {
  font-display: "black";
  background-color: #121212;
}
.boxImg .img1, .boxImg .img4 {
  transform: rotate(-15deg);
}
.boxImg .img2 {
  transform: rotate(5deg);
}
.boxImg .img3 {
  transform: rotate(15deg);
}/*# sourceMappingURL=main.css.map */